# Django
Django>=1.10.4

# Rest apis
djangorestframework==3.5.3
django-parler-rest==1.4.2
Markdown==2.6.7
django-filter==0.15.3

# For Image Manipulation
django-versatileimagefield==1.6.1
Pillow==9.0.1
