# Django
Django==1.10.2

# Rest apis
djangorestframework==3.5.1
django-parler-rest==1.4.2
Markdown==2.6.7
django-filter==0.15.3

# For Image Manipulation
django-versatileimagefield==1.6
Pillow==3.4.2
